body {
    background: url(../img/2-Morning.jpg) no-repeat ;
}
.main-menu{
    margin-right: 30px;

}
.main-menu__item{
    display: inline-block;
    float: left;
    padding: 20px;
    margin-left: 18px;
}
.main-menu__link{
    font-size: 22px;
    font-family: 'FixSysCTT', arial;
    text-decoration: none;
    color: white;
    -webkit-transition: color 1s ease;
}
.main-menu__link:hover{
    color: #71ff46;
    text-decoration: none;
}
.active{
    color:aqua;
}


.projects__box{
    padding-left: 15px;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    -webkit-box-shadow: -5px -5px 14px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    -5px -15px 14px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         -5px -15px 14px 0px rgba(50, 50, 50, 0.75);
}
.projects__item{
    margin-left: 60px;
    margin-top: 40px;
    position: relative;
    width: 250px;
    height: 350px;
    border-radius: 10px;
    border: 1px solid rgba(66, 66, 66, 0.38);
    float: left;
    background: white;
    list-style-type: none;
}
.projects__title{
    font-size: 18px;
    font-family: 'FixSysCTT';
    position: absolute;
    left: -1px;
    top: -40px;
    width: 250px;
    height: 35px;
    display: block;
    background-color: #4071CE;
    text-align: center;
    color: white;
    padding: 10px;
}
.projects__img{
    margin-left: 12px;
    margin-top: 10px;
    width: 190px;
    height: 190px;
    opacity: 0.5;
    transition: opacity 0.3s, visibility 0s linear 0.3s;
}
.projects__img:hover{
    opacity: 1;    
    transition-delay: 0s;
}
.projects__btn{
    position: absolute;
    left: -1px;
    top: 316px;
    width: 250px;
    height: 33px;
    text-decoration: none;
    text-align: center;
    padding-top: 3px;
    border: none;
    cursor: pointer;
    font-family: 'FixSysCTT';
    font-size: 18px;
    color: white;
    background: #2D71C6;
    display: block;
    -webkit-transition: background 1s ease;
}
.projects__btn:hover{
    background: #6499DB;
    text-decoration: none;
}
.projects__btn:focus {
    outline: none;
}
.projects__text{
    display: block;
    height: 50px;
    margin-top: 8px;
    font-family: 'FixSysCTT';
    font-size: 16px;
    line-height: 16px;
}

.icon-list{
    padding-left: 40px;
}
.icon-list a{
    text-decoration: none;
}
.icon-list__item{
    opacity: 0.5;
    transition: opacity 0.3s, visibility 0s linear 0.3s;
}
.icon-list__item:hover{
    opacity: 1;    
    transition-delay: 0s;
}